

body {
	margin-top: -130px;
	background-color: #28065b;
}

.container {
	background: black url('../images/hollywood.jpeg') center no-repeat;
}

h2 {
	text-align: center;
	font-size: 120px;
	color: #eaf0ff;
	text-shadow: 2px 2px #178200;
	padding-top: 360px;
	padding-bottom: 10px;
	margin-top: 40px;
}

.panel, .panel-body {
	opacity: 0.8;
}


h4 {
	color: #178200;
	letter-spacing: 3px;
}